@import "tailwindcss";

@utility container {
  margin-inline: auto;

  @variant sm {
    max-width: 640px;
  }

  @variant md {
    max-width: 768px;
  }

  @variant lg {
    max-width: 1024px;
  }

  @variant xl {
    max-width: 1140px; /* burada sınırlıyoruz */
  }

  @variant 2xl {
    max-width: 1140px; /* daha büyüğe izin verme */
  }
}

html {
  font-size: 14px;
}
